nav ul {
    background-color: #BB9AB1;
    padding: 0 0px;
    list-style: none;
    position: relative;
    width: 100%;
    font-family: 'helvetica',arial;
  }
  
  nav ul:after {
    content:"";
    clear:both;
    display:block;
  }
  
  nav ul li {
    float:left;
  }
  
  nav ul li:hover{
    background-color:#987D9A;
  }
  
  nav ul li a {
    display:block;
    padding:20px 30px;
    color:#fff;
    text-decoration:none;
  }
  
  nav ul li a:hover {
    color:#fff;
  }
  
  nav ul ul {
    display:none;
    background:#987D9A;
    padding:0;
    position:absolute;
    top:100%;
    max-width:300px;
    width:auto;
  }
  
  nav ul ul li {
    float:none;
    border-bottom:1px solid rgb(152, 125, 154);
    position:relative;
  }
  
  nav ul li:hover > ul {
    display:block;
  }
  
  nav ul ul li a {
    padding:10px 40px;
    color:#fff;
    background-color:#BB9AB1;
  }
  
  nav ul ul li a:hover {
    background-color:#987D9A;
  }
  
  nav ul ul ul {
    position:absolute;
    left:100%;
    top:0;
    width:200px;
  }
  
  body {
    background-color:#FEFBD8;
    margin:0;
    padding:0;
  }
  
  form {
    background-color:#EECEB9;
    margin: 8px;
    border-radius:5px;
    padding :10px;
    color :#fff;
  }